<!-- <h1>Contact#create</h1>
<p>Find me in app/views/contact/create.html.erb</p>
 -->
 
 <h1>Thank you for your message.</h1>
 <p>We'll get back to you as soon as possible.</p>
 <%= link_to 'Home', root_url, :class => 'button' %>