/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require bootstrap.min
 *= require bootstrap-theme.min
 *= require_tree .
 *= require_self
 */
 @font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/font/glyphicons-halflings-regular.eot');
  src: url('../assets/font/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/font/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/font/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
  src: url('../assets/font/flexslider-icon.eot?#iefix') format('embedded-opentype'), 
       url('../assets/font/flexslider-icon.woff') format('woff'), 
       url('../assets/font/flexslider-icon.ttf') format('truetype'), 
       url('../assets/font/flexslider-icon.svg#flexslider-icon') format('svg');     
}

*{
	margin: 0;
	padding: 0;
}

body { 
    background-image: url(/assets/background.png); 
	background-attachment: fixed; 
	background-color: rgb(30, 28, 27); 
	background-size: auto; background-position: 50% 0%; 
	background-repeat: repeat-x;
}
footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }


.top{
	margin-top:76px;
	min-height: 141px;
  	border: 1px solid #F3DEBA;
  	border-radius: 5px;
}
.top-body{
	background-image: url(/assets/header.jpg);
	background-repeat: repeat-x;
	min-height: 139px;
	margin: 1px;
	border-radius: 5px;
}

.masthead{
	min-height: 60px;
	background-color: #381402;
	padding-top:5px;
}

.myNav{
    border-top: 1px dashed #F3DEBA;
    border-bottom: 1px dashed #F3DEBA;
    line-height:28px;
}

.myNav li a{
	color: #DABE8C;
}

.font_1{

}

.footer{
	background-image: url(/assets/footer.jpg);
	background-repeat: repeat-x;
	line-height: 53px;
	min-height: 53px;
	padding: 4px;
	border-radius: 5px;
	border: 1px solid #fff;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
	color:#fff;
	background-color:#381402;
}

.jumbotron{
	background-color: #F3DEBA;
	margin-bottom:0;
	padding: 0;
}

.body_bottom{
	background-color: #381402;
}
.info1{
	margin: 3px 0;
	background-color: #F3DEBA;
}
.info1-left{
	padding: 5px;
	margin: 5px 20px 10px;
}
.info1-mid{
	padding: 10px;
}
.info1-right{
	padding: 10px;
	margin: 0 auto;
}
.info1-right img{
	display: block;
}
.font_4{
	font: normal normal bold 53px/1.3em 'noticia text', serif;
	color: rgb(95, 7, 18);
}
.color_15{
	color: rgb(30, 28, 27);
}
.font_8{
	font: normal normal normal 14px/1.3em 'open sans', sans-serif;
	color: rgb(30, 28, 27);
}

.font_5 {
	font: normal normal bold 30px/1.2em 'noticia text', serif;
	color: rgb(172, 9, 9);
}
.info1-body-right{
	margin: 10px 20px 10px;
}
.bg-color-1{
	background-color: #F3DEBA;
}
.about-info{
	padding: 4px 0;
}
.about-body{
	padding: 20px 10px;
	border-top: 1px dashed #F3DEBA;
	border-bottom: 1px dashed #F3DEBA;
}
.about-body-part{
	margin: 20px 5px;
	padding: 5px;
	border-radius: 5px;
	min-height: 164px;
}
.about-body-part-center{
	text-align: center;
}
.color_14_2 {
color: rgb(56, 20, 2);
}
.margin_p{
	margin: 10px;
}
.font_6 {
font: normal normal bold 20px/1.3em 'noticia text', serif;
color: rgb(172, 9, 9);
}
.color_21 {
color: rgb(255, 255, 255);
}

p{
	margin: 0px;
	line-height: normal;
	letter-spacing: normal;
}

.foot-img{
	min-width: 100%;
	min-height: 320px;
	background-image: url(/assets/summary.png);
	background-repeat: no-repeat;
}
#order_dev .f_p{
	margin-bottom: 1px;
	font-size: 12px;
	font-weight: 100;
}
.color_20 {
color: rgb(95, 7, 18);
}
.menu-list{
	padding: 10px;
	background-color: #BF945D;
	height: 170px;
}

.menu-list img{
	height: 140px;
	margin: 5px;
	padding: 5px;
}

#carousel{
	border: none;
	background-color: #BF945D;
}

.foot_menu{
	background-color: #381402;
	padding: 5px 0;
}

#slider{
	height: 305px;
}
#slider img{
	height: 305px;
}

.foot_menu img{
	width: 140px;
	height: 140px;
}
.logo {
    text-align: center;
    padding-top: 35px;
}