@charset "utf-8";
@font-face {
    font-family: 'Zawgyi-One';
    src: url('/assets/fonts/zawgyi-webfont.eot'), /* IE9 Compat Modes */
         url('/assets/fonts/zawgyi-webfontd41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/zawgyi-webfont.woff') format('woff'), /* Modern browsers */
         url('/assets/fonts/zawgyi-webfont.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* リセット定義
-----------------------------------------------	*/
html, body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	line-height: 1.0em;
}

img {
	border: 0;
}

img, input {
	vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, address {
	margin: 0;
	padding: 0;
	border: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	line-height:  1.4em;
}

div, blockquote, p, pre, ul, ol, li, dl, dt, dd {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

table, caption, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
}

hr {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

iframe {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

form, fieldset, input, button, select, optgroup, option, textarea, label, legend {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

span, em, strong, dfn, code, samp, kbd, var, cite, abbr, acronym, q, br, ins, del, a, img, object {
	margin: 0;
	padding: 0;
	border: 0;
	font-style: normal;
	font-weight: inherit;
	font-size: 100%;
}

