<img src="/assets/about/about-01.jpg" width="100%">
<br><br>
<img src="/assets/about/about-02.jpg" width="100%">
<br><br>
<img src="/assets/about/about-03.jpg" width="100%">
<br><br>
<img src="/assets/about/about-04.jpg" width="100%">
<br><br>
<img src="/assets/about/about-05.jpg" width="100%">
<br><br>
<p>2004年12月からヤンゴンにて営業しています。最近はヤンゴンの老舗とよく言われます。
  そして正直なところ、うちの店の売りは「うまい、やすい」にあると思います。
  高級店ではなく、かと言って「とにかく安い」を求めていません。日本人が美味しいと
  思う品質の料理を出しながら、でも価格は他店よりかなり安いというスタイルです。
  正直、値段は安く、味も上という風になります。</p>









