<div id="contents"> <!--contents-->
  <div class="detailBloclks"><!--detailBloclks-->
    <p>当店のホームページへのご訪問ありがとうございます。<br />
        お問い合わせは、下記フォームの項目にご記入いただき、［送信］ボタンをクリックして下さい。<br />
        各種パーティー・団体様ご来店のご相談も受け付けておりますので、お気軽にご連絡ください。<br />
        ※ご来店のご予約は電話でのみ受付とさせていただいております。<br /><br />
        <span>Tel.097-574-9373</span>
    </p>
    <div class="formBlock">
          <p>お問合わせ内容によりましては、ご返信できない場合もございますので、あらかじめご了承ください。 </p>
      <form>
        <dl>
          <dt>お名前 (必須)</dt>
          <dd><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span> </dd>
        </dl>
        <dl>
          <dt>メールアドレス (必須)</p>
          <dd><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span>  </dd>
        </dl>
        <dl>
          <dt>電話番号 (必須)</p>
          <dd><span class="wpcf7-form-control-wrap tel-25"><input type="tel" name="tel-25" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" /></span> </dd>
        </dl>
        <dl>
          <dt>お問い合わせ件名</p>
          <dd><span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span> </dd>
        </dl>
        <dl>
          <dt>お問い合わせ内容</p>
          <dd><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span>  </dd>
        </dl>
        <div class="submitBtn"><input type="submit" value="送信" class="wpcf7-form-control wpcf7-submit" /></div>
        <div class="wpcf7-response-output wpcf7-display-none"></div>
        <div style="margin-top: 50px;margin-bottom: 50px;">
          <a href="/"> <button style="width: 100px; height: 50px; font-weight: bold;">戻る</button></a>
        </div><!--col-md-12-->
      </form>
    </div>
  </div><!--/detailBloclks-->  
</div><!--/contents-->
