<img src="/assets/contact/contact-01.png" width="100%">
<img src="/assets/contact/map.jpg" width="100%">
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script><div style="overflow:hidden;height:500px;width:100%;"><div id="gmap_canvas" style="height:500px;width:100%;"></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style><a class="google-map-code" href="http://www.trivoo.net/gutscheine/" id="get-map-data">www.trivoo.net</a></div><script type="text/javascript"> function init_map(){var myOptions = {zoom:16,center:new google.maps.LatLng(16.78419530061039,96.15543242943045),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(16.78419530061039, 96.15543242943045)});infowindow = new google.maps.InfoWindow({content:"<b>Wasabi Japanese Restaurant</b><br/>Bo Yar Nyunt Street<br/> Yangon" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
<br>
<p>月曜日お休みです。</p>
<p>店の営業時間:&emsp;:午前１１時半から午後2時半（LO）３時まで,夜５時半から9時半（LO）１０半までです。</p>
<p>電話番号:&emsp;&emsp;&emsp;:09-5039139,09-425020667,09-972276530</p>



