<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-8">
          <div id="CSslider" class="col-xs-12 col-sm-12 col-md-8">

            <div>
              <img src="/assets/about/about-01.png" width="100%" height="364" /><br>
              <p>
                ヤンゴンで１１年目を迎える老舗です。<br>
                当店は日本での調理経験を積んだ日本人経営のお店です。<br>
                お客様の「うまい、やすい、満足」を目指して営業しております。<br>
                お一人さまでも、グループでもお気楽にご来店頂けます。
              </p>
            </div>
            <div>
              <img src="/assets/about/about-02.png" width="100%" height="364" /><br>
              <p>
                ヤンゴンで１１年目を迎える老舗です。<br>
                当店は日本での調理経験を積んだ日本人経営のお店です。<br>
                お客様の「うまい、やすい、満足」を目指して営業しております。<br>
                お一人さまでも、グループでもお気楽にご来店頂けます。
              </p>
            </div>
            <div>
              <img src="/assets/about/about-03.png" width="100%" height="364" /><br>
              <p>
                ヤンゴンで１１年目を迎える老舗です。<br>
                当店は日本での調理経験を積んだ日本人経営のお店です。<br>
                お客様の「うまい、やすい、満足」を目指して営業しております。<br>
                お一人さまでも、グループでもお気楽にご来店頂けます。
              </p>
            </div>
            <div>
              <img src="/assets/about/about-04.png" width="100%" height="364" /><br>
              <p>
                ヤンゴンで１１年目を迎える老舗です。<br>
                当店は日本での調理経験を積んだ日本人経営のお店です。<br>
                お客様の「うまい、やすい、満足」を目指して営業しております。<br>
                お一人さまでも、グループでもお気楽にご来店頂けます。
              </p>
            </div>
            <div>
              <img src="/assets/about/about-05.png" width="100%" height="364" /><br>
              <p>
                ヤンゴンで１１年目を迎える老舗です。<br>
                当店は日本での調理経験を積んだ日本人経営のお店です。<br>
                お客様の「うまい、やすい、満足」を目指して営業しております。<br>
                お一人さまでも、グループでもお気楽にご来店頂けます。
              </p>
            </div>
            <div>
              <img src="/assets/about/about-03.png" width="100%" height="364" /><br>
              <p>
                ヤンゴンで１１年目を迎える老舗です。<br>
                当店は日本での調理経験を積んだ日本人経営のお店です。<br>
                お客様の「うまい、やすい、満足」を目指して営業しております。<br>
                お一人さまでも、グループでもお気楽にご来店頂けます。
              </p>
            </div>

          </div>
	</div>
</div>
</div>
<div class="body_bottom">
<div class="info1">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6">
			<div class="info1-left">
				<h4 style="line-height: 1.1em;" class="font_4"><span style="line-height:1.1em;"><span class="color_15">Welcome</span></span></h4>
				<p>2004年12月からヤンゴンにて営業しています。最近はヤンゴンの老舗とよく言われます。そして正直なところ、うちの店の売りは「うまい、やすい」にあると思います。
                  高級店ではなく、かと言って「とにかく安い」を求めていません。日本人が美味しいと思う品質の料理を出しながら、でも価格は他店よりかなり安いというスタイルです。
                  正直、値段は安く、味も上という風になります。</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6">
			<div class="info1-body-right">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-7">
						<div class="info1-mid">
							<h5 style="line-height: 1em;" class="font_5">
								<span style="line-height:1em;">Special Foods</span>
							</h5>
							<!--<p style="line-height: 1.3em;" class="font_8">&nbsp;</p>-->
							<p class="">刺身や焼き魚、
                              鶏から揚げ、そして寿司など種類豊富です。またミャンマー産のロブスターや海老、魚など、現地の魚介類を安く提供しています。ミャンマーの生ビールが６００Ksというのはアピールすべきことだと思います。かれはかなり働撃的だと受け止められています。
                            </p>
							<p style="line-height: 1.3em;" class="font_8">&nbsp;</p>
							<!--<p>-->
							<!--<button type="button" class="btn btn-danger btn-lg">READ MORE</button>-->
							<!--</p>-->
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-5">
						<div class="info1-right">
							<img src="/assets/b.png" alt="Apple">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="about-info">
	<div class="about-body">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="bg-color-1 about-body-part">
					<h5 class="font_5" style="text-align: center;"><span class="color_14_2">WHERE ARE WE?</span></h5>
					<p class="" style="text-align: center;">38/40,Bo Yar Nyunt Street,Yaw Min Gyi Quarter,Dagon Township,Yangon</p>
					<p class="about-body-part-center margin_p">
						<button type="button" class="btn btn-danger btn-lg btn-block"><a href="/web/about/">READ MORE</a></button>
					</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="bg-color-1 about-body-part">
					<h5 class="font_5" style="text-align: center;"><span class="color_14_2">店の営業時間</span></h5>
					<p style="text-align: center;" class="">月曜日お休みです。&nbsp;</p>
					<p style="text-align: center; line-height: 0.9em;" class="font_8">&nbsp;</p>
                    <h6 style="text-align: center;"class="font_3 margin_p">Lunch１１時半から2時半(LO)3時</h6>
                    <h6 style="text-align: center;"class="font_3 margin_p">Dinner５時半から9時半(LO)10時半</h6>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="bg-color-1 about-body-part">
					<h5 style="line-height: 1.3em; text-align: center;" class="font_5">
						<span style="line-height:1.3em;"><span class="color_14_2">連絡先</span></span></h5>

					<p style="text-align: center;" class="">電話番号:&emsp;&emsp;&emsp;:09-5039139,09-425020667,09-972276530</p>
				</div>
			</div>
		</div>
	</div>
</div>

