<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-8">
		<div class="foot-img">
			<!-- Place somewhere in the <body> of your page -->
			<div id="slider" class="flexslider">
			  <ul class="slides">
                <li>
                  <img src="/assets/a.png" />
                </li>
                <li>
                  <img src="/assets/b.png" />
                </li>
                <li>
                  <img src="/assets/c.png" />
                </li>
                <li>
                  <img src="/assets/d.png" />
                </li>
                <li>
                  <img src="/assets/d.png" />
                </li>
                <li>
                  <img src="/assets/d.png" />
                </li>
                <li>
                  <img src="/assets/c.png" />
                </li>
                <li>
                  <img src="/assets/d.png" />
                </li>
                <li>
                  <img src="/assets/c.png" />
                </li>
                <li>
                  <img src="/assets/d.png" />
                </li>
			    <!-- items mirrored twice, total of 12 -->
			  </ul>
			</div>
			
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-4" id="order_dev">
		<h6 style="line-height: 2em;" class="font_6">
			<span style="line-height:2em;">
				<span class="color_15">お弁当注文出来ます！！</span>
			</span>
		</h6>
		<p class="f_p">ヤンゴンで駐在している日本人の方や和食大好きな方に向けて私達の「わさび日本レストラン」からお客様のところまでお弁当配達サービスを差し上げております。</p>
		<!--<p class="f_p">add your own text and edit me.</p>
		<p class="f_p">​It’s easy. Just click “Edit Text”&nbsp;or double click me and you can&nbsp;start adding your own content...</p>
		<p class="f_p">&nbsp;</p>
		<p class="f_p">Click here to make a reservation online or&nbsp;<strong>call us</strong></p>-->
        <p class="f_p">&nbsp;</p>
        <p class="f_p">下記のボタンをクリックして注文してください。</strong></p>
		<h5 style="line-height: 1.6em;" class="font_5">
			<span class="color_20">
				<span style="line-height:1.6em;">1-800-000-0000</span>
			</span>
		</h5>
		<%= form_tag("#{send_order_web_index_path()}", method: "post", id: "order_form") do %>
			<input id='selected_img' type='hidden' name='selected_img' value=''>
			<p class="about-body-part-center margin_p">
				<button type="button" class="btn btn-danger btn-lg btn-block" onclick="order()">お弁当注文</button>
			</p>
		<% end %>
	</div>
</div>
</div>
<div class="body_bottom">
<div class="foot_menu">
	<div class="menu-list">
		<div id="carousel" class="flexslider">
		  <ul class="slides">
		    <li>
		      <img src="/assets/a.png" />
		    </li>
		    <li>
		      <img src="/assets/b.png" />
		    </li>
		    <li>
		      <img src="/assets/c.png" />
		    </li>
		    <li>
		      <img src="/assets/d.png" />
		    </li>
		    <li>
		      <img src="/assets/d.png" />
		    </li>
		    <li>
		      <img src="/assets/d.png" />
		    </li>
            <li>
              <img src="/assets/c.png" />
            </li>
            <li>
              <img src="/assets/d.png" />
            </li>
            <li>
              <img src="/assets/c.png" />
            </li>
            <li>
              <img src="/assets/d.png" />
            </li>
		    <!-- items mirrored twice, total of 12 -->
		  </ul>
		</div>
	</div>
</div>
<div class="info1">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6">
			<div class="info1-left">
				<h4 style="line-height: 1.1em;" class="font_4"><span style="line-height:1.1em;"><span class="color_15">Welcome</span></span></h4>
				<p class="">I'm a Paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” I'm a Paragraph...</p>
				<p class="font_8">​</p>
				<p>I'm a Paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content...</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6">
			<div class="info1-body-right">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-7">
						<div class="info1-mid">
							<h5 style="line-height: 1em;" class="font_5">
								<span style="line-height:1em;">Special Beers</span>
							</h5>
							<p style="line-height: 1.3em;" class="font_8">&nbsp;</p>
							<p class="">We source the finest beers and wines and match them with your steak.</p>
							<p style="line-height: 1.3em;" class="font_8">&nbsp;</p>
							<p>
							<button type="button" class="btn btn-danger btn-lg">READ MORE</button>
							</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-5">
						<div class="info1-right">
							<img src="/assets/b.png" alt="Apple">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="about-info">
	<div class="about-body">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="bg-color-1 about-body-part">
					<h5 class="font_5" style="text-align: center;"><span class="color_14_2">WHERE ARE WE?</span></h5>
					<p class="" style="text-align: center;">500 Terry Francois St. SF, CA &nbsp;94158</p>
					<p class="about-body-part-center margin_p">
						<button type="button" class="btn btn-danger btn-lg btn-block">READ MORE</button>
					</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="bg-color-1 about-body-part">
					<h5 class="font_5" style="text-align: center;"><span class="color_14_2">OPENING HOURS</span></h5>
					<p style="text-align: center;" class="">We’re open everyday&nbsp;</p>
					<p style="text-align: center; line-height: 0.9em;" class="font_8">&nbsp;</p>
					<h6 style="text-align: center;" class="font_6 margin_p">12:00pm-1:00am</h6>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="bg-color-1 about-body-part">
					<h5 style="line-height: 1.3em; text-align: center;" class="font_5">
						<span style="line-height:1.3em;"><span class="color_14_2">CHEF AT HOME</span></span></h5>

					<p style="text-align: center;" class="">I'm a Paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text”&nbsp;</p>
				</div>
			</div>
		</div>
	</div>
</div>

