<!DOCTYPE html>
<html lang="ja">
<head>
  <title>わさびヤンゴンレストラン</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="q2M-b8QB5MOZz8xGX5CVWu6t-AhxdPmjSCSnqaKnk4w" />
  <meta name="description" content="当店は日本での調理経験を積んだ日本人経営のお店です。お客様の「うまい、やすい、満足」を目指して営業しております。
   お一人さまでも、グループでもお気楽にご来店頂けます。" />
  <meta name="keywords" content="わさびヤンゴンレストラン, Wasabi Yangon Restaurant,  ミャンマーで美味しい店" />
  <meta name="author" content="T.O and L.B">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/south-street/jquery-ui.css" id="theme">
  <link rel="stylesheet" href="/assets/flexslider.css">
  <link rel="stylesheet" href="/assets/import.css">
 <%#= csrf_meta_tags %>

</head>

<body id="clearfix">
  <div id="wrapper_bg">
    <div id="header">
      <div class="col-md-5">
        <h1><a href="/">わさびヤンゴン飲食店</a></h1>
        <p style="float:left;margin-left: 142px;margin-top: 56px;color: #E68002;font-family:zawgyi-one;"></b></p>
      </div>
      <div class="col-md-5" style="margin-left: 20px;">
        <p style="float:left;margin-top: 41px;color: #E68002;font-family:zawgyi-one;"><b></b>
        </p>
        <div style="margin-top: 67px;">
          <p style="float:left;color: #E68002;font-family:zawgyi-one;"><b></b>
          </p>
        </div>
        <div style="margin-top: 96px;">
          <p style="float:left;color: #654D4D;;font-family:zawgyi-one;font-size: 12px; font-weight: bold;">

          </p>
        </div>
      </div>
      <div class="col-md-2" style="margin-left: -57px; margin-top: -3px;">
        <p style="float:left;margin-top: 20px;color: #E68002;;font-family:zawgyi-one;font-size: 12px;"><b></b>
        </p>
        <p style="float:left;margin-top: -2px;color: #E68002;;font-family:zawgyi-one;font-size: 12px;"><b></b>
        </p>
         <p class="b1"><a href="/contact/new"><img src="/assets/shared/btn_inquiry.png" width="177" height="82" alt="お問い合わせ" /></a></p>
      </div>
    </div>
    <div style="float: right; margin-top: -100px; margin-right: 28px;">
      <%= form_tag({}, {:method => :get}) do %>
        <%= select_tag :locale, options_for_select(['Languages',['Japanese', 'ja'],['Myanmar', 'mm']]), :onchange => "this.form.submit();" %>
      <% end %>
    </div>
    <div class="contianer">
      <%= yield %>
    </div>
  <div id="footer">
    <div id="footerInner">
      <div class="col-md-5">
          <p style="float:left;margin-left: 129px;margin-top: 17px;color: #5E594E;font-family:zawgyi-one;">
            <b style="font-size: 18px;"></b></p>
      </div>
      <div class="col-md-6" style="float:left;margin-left: -47px;margin-top: -38px;">
        <p style="float:left;margin-top: 41px;color: #fff;font-family:zawgyi-one;"><b></b>
        </p>
        <div style="margin-top: 67px;">
          <p style="float:left;color: #fff;font-family:zawgyi-one;"><b></b>
          </p>
        </div>
        <div style="margin-top: 96px;">
          <p style="float:left;color: #654D4D;;font-family:zawgyi-one;font-size: 12px; font-weight: bold;">

          </p>
        </div>
      </div>
      <p class="b1"><a href="/contact/new"><img src="/assets/shared/btn_inquiry.png" width="177" height="82" alt="お問い合わせ" /></a></p>
    </div>
    <p id="copyright">Copyright © 2004-2011 FOODCONNECTION,Inc. All Rights Reserved.</p>
  </div>
</body>
</html>
